.about-title {
	margin: 0;
	padding: 0 20px;
}

.employer {
	font-style: italic;
	margin: 0;
	padding: 5px 20px;
}

.about-header {
	margin: 0;
	padding: 5px 20px;
}

.experience {
	margin: 0 20px;
	padding: 0 20px;
}

.timeline {
	font-style: italic;
	font-size: 13px;
	padding: 0px 20px;
	margin: 0;
}
